.git/
.github/
.gitignore

.venv/
**/__pycache__/
**/*.py[codz]
**/*.egg-info/
build/
dist/

.env
.env.example

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

tests/
Makefile
Dockerfile
.dockerignore
docker-compose*.yml
.pre-commit-config.yaml

.idea/
.vscode/
.DS_Store
**/*.log
